<section class="container">
	<div class="oe_row oe_spaced" >
		<h3 class="oe_slogan" >Google Map</h3>
		<p class="oe_mt16" style="line-height: 190%;">
			Locate your contact in one click.
		</p>
	</div>
</section>
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
	<li class="nav-item">
		<a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-selected="true">Description</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="pills-support-tab" data-toggle="pill" href="#pills-support" role="tab" aria-controls="pills-support" aria-selected="false">Contact</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" id="pills-apps-tab" data-toggle="pill" href="#pills-apps" role="tab" aria-controls="pills-apps" aria-selected="false">Suggested apps</a>
	</li>
</ul>
<div class="tab-content" id="pills-tabContent">
	<div class="tab-pane show active" id="pills-description" role="tabpanel" aria-labelledby="pills-description-tab">
		<div class="oe_row oe_spaced">
			<div style="max-width:1000px;width: auto;margin: 0 auto;display:block;text-align:center;">
				<span class="col">
					<img class="img img-responsive" src="community.png" style="box-shadow:unset;max-height: unset;max-width: 75%;width: auto;">
				</span>
				<span class="col">
					<img class="img img-responsive" src="enterprise.png" style="margin:20px;max-height: unset;max-width: 75%;width: auto;">
				</span>
			</div>
		</div>
		<div class="oe_row oe_spaced">
			<h3 class="oe_slogan" >Direct view of your contact's location</h3>
			<div style="max-width:1000px;width: auto;margin: 0 auto;display:block;text-align:center;">
				<p>
					Adds a direct link on your contact to Google Map.
				</p>
				<p>
					<img src="customer.png" class="img img-fluid mx-auto" alt="ScreenshotCustomer">
				</p>
			</div>
		</div>
		<div class="oe_row oe_spaced">
			<h3 class="oe_slogan" >Customer Map</h3>
			<div style="max-width:1000px;width: auto;margin: 0 auto;display:block;text-align:center;">
				<p>
					You will be redirected on Google map with the precise contact's location.
					Position information computed with the contact's address
				</p>
				<p>
					<img src="map.png" class="img img-fluid mx-auto" alt="ScreenshotMap">
				</p>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="pills-support" role="tabpanel" aria-labelledby="pills-support-tab">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 pt16 pb16">
					<h2 class="o_default_snippet_text">Need help?</h2>
					<p class="o_default_snippet_text">
						Please send us an email to support@bhc.be if you have any issue or question.
					</p>
				</div>
				<div class="col-lg-6 pt16 pb16">
					<img src="helpdesk.png" class="img img-fluid mx-auto" alt="Helpdesk" data-original-title="" title="">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 pt16 pb16">
					<img src="customization.png" class="img img-fluid mx-auto" alt="Customization">
				</div>
				<div class="col-lg-6 pt16 pb16">
					<h2 class="o_default_snippet_text">Get a customization</h2>
					<p class="o_default_snippet_text">
						We can also adapt this app to meats your expectations. Send us an email to define what you need.
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="tab-pane" id="pills-apps" role="tabpanel" aria-labelledby="pills-apps-tab">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 pt16 pb16">
					<h2 class="o_default_snippet_text">Ingram Gateway</h2>
					<p class="o_default_snippet_text">
						Import Pricelists and availability of Ingram products.
					</p>
					<div class="s_btn text-left pt16 pb16" data-name="Buttons">
						<a href="https://www.odoo.com/apps/modules/11.0/Ingram/" class="btn btn-primary o_default_snippet_text">Discover more</a>
					</div>
				</div>
				<div class="col-lg-6 pt16 pb16">
					<img src="ingram.png" class="img img-fluid mx-auto" alt="Ingram" data-original-title="" title="">
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 pt16 pb16">
					<img src="litigation.png" class="img img-fluid mx-auto" alt="Litigation">
				</div>
				<div class="col-lg-6 pt16 pb16">
					<h2 class="o_default_snippet_text">Litigation Management</h2>
					<p class="o_default_snippet_text">
						Create and manage your litigation in one specific app.
					</p>
					<div class="s_btn text-left pt16 pb16">
						<a href="https://www.odoo.com/apps/modules/11.0/litigation/" class="btn btn-primary o_default_snippet_text">Discover more</a>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6 pt16 pb16">
					<h2 class="o_default_snippet_text">Sales Taxes Summary</h2>
					<p class="o_default_snippet_text">
						Compute taxes on sales quotations and orders.
					</p>
					<div class="s_btn text-left pt16 pb16" data-name="Buttons">
					<a href="https://www.odoo.com/apps/modules/12.0/sales_taxes_summary/" class="btn btn-primary o_default_snippet_text">Discover more</a>
					</div>
				</div>
				<div class="col-lg-6 pt16 pb16">
					<img src="sales_taxes_summary.png" class="img img-fluid mx-auto" alt="SalesTaxesSummary" data-original-title="" title="">
				</div>
			</div>
		</div>
	</div>
</div>
