<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL : https://store.webkul.com/license.html/ -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500i,600,700&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
<div class="container">
    <div style="width:95%;margin: 0 auto;font-family: 'Montserrat', sans-serif;">
        <section class="mb-3">
            <a href="promotion.png"><img class="img img-fluid" src="promotion.png" alt="promotion"/></a>
        </section>
        <div class="row mt-3" style="">
            <div class="col-md-12 col-lg-12 col-sm-12" >
                <p class="text-center pt-5" style="font-style: italic; font-weight: 500; font-size: 20px;line-height: 38px;">This module is a base module for the Theme Shopoint, This module will work only with our Theme : <a href="https://shopoint.odoothemes.webkul.com/">Theme Shopoint</a></p>
            </div>
        </div>
    </div>
</div>
<section class="mb-5" id="webkul_support">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center">Help and Support</h3>
            <p class="mb-2 text-center">Get Immediate support for any of your query</p>
        </div>
        <div class="col-12">
            <p class="text-center px-5">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
        </div>
        <div class="mx-auto col-lg-9 mb-4 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0 text-center text-md-left">
                <div class="col-xl-2 col-lg-2 col-md-2 sol-sm-2 text-center">
                    <img src="mail.png" alt="mail" class="img img-fluid">
                </div>
                <div class="col-xl-7 col-lg-10 col-md-10 col-sm-10 pl-0 pr-2">
                    <p class="my-2 text-md-center" style="font-weight:bold;color:#555555;">Write a mail to us:</p>
                    <a style="font-size:18px;" href="mailto:support@webkul.com">support@webkul.com</a>
                    <p class="my-2" style="font-weight: normal;font-size: 14px;color:#777777;">Any queries or want any extra features? Just drop a mail to our support.</p>
                </div>
                <div class="col-xl-3 col-lg-4 text-center">
                    <a href="mailto:support@webkul.com" style="padding:10px 22px;background-color:#2335D7;font-size:14px;color:#ffffff;"><i class="fa fa-pencil-square-o" style="color:white; margin-right:4px"></i>Write To US</a>
                </div>
            </div>
        </div>
        <div class="mx-auto col-lg-9 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0">
                <div class="col-xl-2 col-lg-2 col-md-2 text-center">
                    <img src="support-icon.png" alt="support-icon" class="img img-fluid">
                </div>
                <div class="col-xl-10 col-lg-10 col-md-10 pl-0 text-center text-md-left">
                    <p class="my-2" style="font-weight:bold;color:#555555;">Get in touch with our Expert:</p>
                    <a class="text-break" style="font-size:18px;" href="">https://webkul.uvdesk.com/en/customer/create-ticket/</a>
                    <p class="my-2" style="font-weight:normal;font-size:14px;color:#777777;">Any technical queries, want extra features, or anything else, our team is ready to answer all your questions, just raise a support ticket.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="oe_container" style="background:#efefef78;padding: 20px 6%;font-size:17px;margin:20px 0;">
    <div class="">
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=WEBSITE-RMA&url=https://apps.openerp.com/apps/modules/12.0/rma&uid=rma" style="border:0" alt="" />
    </div>
</section> -->
